/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,100&family=Roboto:wght@400;500&family=Teko:wght@300;400;500&display=swap');

.popularCoursesContainer {
  width: 83.4vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: auto;
  margin-bottom: 6.5vw;
}

.popularCoursesContainer h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  line-height: 3.5vw;
  margin: auto;
  font-size: 3.34vw;
  margin: auto;
  color: #FFC038;
}

.popularCoursesContainer h1 span{
  color: #EBEBEB;
}

.cards {
  display: flex;
  margin-top: 3.65vw;
}

.popularCoursesContent .gradient:not(:last-child) {
  margin-right: 1.04vw;
}

/*  */
.gradient {
  position: relative;
  display: flex;
  width: 20.05vw;
  height: 28.9vw;
  background-image: linear-gradient(to right top,rgba(244, 180, 26, 1),rgba(255, 255, 255, 0), rgba(226, 244, 26, 0));
  border-radius: 1.67vw;
}

.card {
  width: 19.7vw;
  height: 28.7vw;
  background-color: #182E3D;
  border-radius: 1.67vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.coursesCardImg {
  width: 19.4vw;
  height: 11.35vw;
}

.cardContent {
  margin: 1.875vw 1.875vw 1.46vw 1.875vw;
}


/*  */
.viewingAndLike{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25vw;
}

.viewing {
  display: flex;
  align-items: center;
  background-color: #213E53;
  border-radius: 0.42vw;
  width: 3.75vw;
  height: 1.56vw;
}

.viewing img{
  width: 0.84vw;
  height: 0.84vw;
  margin-right: 0.2vw;
  margin-left: 0.4vw;
}

.viewing p{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #C2C7CB;
  font-size: 0.94vw;
  margin: 0.2vw 0.4vw 0.2vw 0;
}

.heart {
  width: 1.56vw;
  height: 1.56vw;
}


/*  */

.durationAndType {
  display: flex;
  margin-bottom: 0.84vw;
}

.type {
  display: flex;
  align-items: center;
  margin-right: 1.46vw;
}

.type p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #728796;
  font-size: 0.94vw;
  margin: 0;
}

.coursetype {
  width: 0.57vw;
  height: 0.73vw;
  margin-right: 0.3vw;
}

.duration, .hours, .level {
  display: flex;
  align-items: center;
}

.calendar {
  width: 0.73vw;
  height: 0.73vw;
  margin-right: 0.3vw;
}

.duration p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #728796;
  font-size: 0.94vw;
  margin: 0;
}

/*  */

.infarmation {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.67vw;
}

.nameAndBtn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625vw;
}

.cardName {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
  color: #FFC038;
  margin: 0;
}

.onlineStatusBtn {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 0.94vw;
  background-color: #243745;
  border: 0.05vw solid #FFC038;
  border-radius: 0.42vw;
  color: #FFC038;
  padding: 0.2vw 0.625vw 0.2vw 0.625vw;
}

.infarmation p{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.14vw;
  color: #E7E7E7;
  margin: 0;
}

/*  */

.dateAndPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.46vw;
  color: #3FA2F0;
  margin: 0;
}

.price {
  display: flex;
  align-items: center;
}

.oldPrice {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #9A9A9A;
  font-size: 0.94vw;
  text-decoration: line-through;
  margin: 0 0.3vw 0 0;
}

.newPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newPrice h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.46vw;
  color: #FFC038;
  margin: 0;
}

.newPrice p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 0.84vw;
  color: #728796;
  margin: 0;
}

/*  */

.popularCoursesContainer a {
  width: 8.5vw;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  margin: 2.2vw 1.3vw 0 0;
  color: #AFB9C0;
  text-align: end;
  font-size: 1.15vw;
  cursor: pointer;
}

.popularCoursesContainer a:hover{
  color: #FFB81E;
}

@media (max-width: 480px) {
  .popularCoursesContainer {
    width: 91.1vw;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 6.5vw;
  }

  .popularCoursesContent {
    margin-bottom: 11vw;
  }
  
  .popularCoursesContainer h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 8.3vw;
    line-height: 18.6vw;
    margin: auto;
    color: #FFC038;
  }

  .popularCoursesContainer a {
    width: 36.9vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin: auto;
    color: #AFB9C0;
    font-size: 5vw;
    cursor: pointer;
  }
}