@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,100&family=Roboto:wght@400;500&family=Teko:wght@300;400;500&display=swap');

.Container {
  display: flex;
  flex-direction: column;
}

.formContainer {
  width: 27vw;
  display: flex;
  align-items: center;
  border-radius: 0.625vw;
  border: 0.05vw solid #243745;
  transition: border-color 0.3s;
  background-color: #243745;
}

.label {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #AFB9C0;
  font-size: 1.15vw;
  margin: 0;
  margin-bottom: 0.9vw;
}

.inputContainer {
  border: none;
}

.inputContainer2 {
  display: flex;
  justify-content: start;
  border: none;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.93vw 0.625vw 0.98vw 1.67vw;
  border: none;
  border-top-left-radius: 0.625vw;
  border-bottom-left-radius: 0.625vw;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  background-color: #263D4D;
  color: #728796;
  font-size: 1.15vw;
}

.select.active {
  background-color: #263D4D;
}

.select .selectedOption {
  flex-grow: 1;
  margin-right: 0.52vw;
}

.arrow {
  width: 1.25vw;
  height: 1.25vw;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.arrow.active {
  transform: rotate(180deg);
}

.customDropdownOptions {
  position: absolute;
  top: 105%;
  left: 0;
  width: 200%;
  height: 15.2vw;
  overflow-y: auto;
  background-color: #263D4D;
  border-radius: 0.625vw;
  z-index: 2;
}

.customDropdownOption {
  color: #EBEBEB;
  font-size: 1.15vw;
  padding: 0.83vw 0 0.79vw 1.67vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.customDropdownOption:hover {
  background-color: #2F495C;
  color: #FFC038;
}

.inputField {
  padding: 1vw 0px 1vw 0.625vw; 
  border-top-right-radius: 0.625vw;
  border-bottom-right-radius: 0.625vw;
  border: none;
  width: 19.27vw;
  background-color: #243745;
  color: #FFFFFF;
  font-size: 1.15vw;
}

.inputField:focus {
  outline: none;
}


/*  */

.errorMessage {
  position: absolute;
  color: #ff0000;
  margin: 0;
  margin-top: 4vw;
  margin-left: -5.5vw;
}

.validForm {
  border: 0.052vw solid #4caf50 !important;
}

.invalidForm {
  border: 0.052vw solid #ff0000 !important;
}

.formContainer:hover{
  border-color: #728796;
}

.formContainer:focus {
  border-color: #FFC038;
  outline: none;
}

/*  */

/* Стили для контейнера скроллбара */
.scrollableContainer {
  overflow-y: auto; 
  max-height: 15.1vw; 
}

/* Стили для скроллбара */
.scrollableContainer::-webkit-scrollbar {
  width: 0.57vw; 
  height: 2.14vw;
}

.scrollableContainer::-webkit-scrollbar-thumb {
  background-color: #1A2933; 
  border-radius: 0.31vw; 
}

/* Стили для стрелок скроллбара */
.scrollableContainer::-webkit-scrollbar-button {
  display: none; 
}



@media (max-width: 480px) {  
  .formContainer {
    width: 91.1vw;
    border-radius: 3.3vw;
    border: 0.28vw solid #243745;
  }
  
  .label {
    font-size: 5.5vw;
    margin-bottom: 2.8vw;
  }
  
  .select {
    padding: 2.8vw 1.94vw 2.8vw 4.72vw;
    border-top-left-radius: 3.3vw;
    border-bottom-left-radius: 3.3vw;
    font-size: 5.5vw;
  }
  
  .select .selectedOption {
    margin-right: 2.8vw;
  }
  
  .arrow {
    width: 2.8vw;
    height: 2.8vw;
  }
  
  .customDropdownOptions {
    width: 330%;
    height: 88.3vw;
    border-radius: 3.3vw;
  }
  
  .customDropdownOption {
    font-size: 5.5vw;
    padding: 3.3vw 0 3.3vw 8.9vw;
  }
  
  .inputField {
    padding: 2.8vw 0px 2.8vw 2.5vw; 
    border-top-right-radius: 3.3vw;
    border-bottom-right-radius: 3.3vw;
    width: 64vw;
    font-size: 5.5vw;
  }

  /*  */
  
  .errorMessage {
    margin-top: 12vw;
    margin-left: -23vw;
  }
  /*  */
  
  .scrollableContainer {
    max-height: 88.3vw; 
  }
  
  .scrollableContainer::-webkit-scrollbar {
    width: 2vw; 
    height: 10vw;
  }
  
  .scrollableContainer::-webkit-scrollbar-thumb {
    border-radius: 1vw; 
  }

  .validForm {
    border: 0.28vw solid #4caf50 !important;
  }
  
  .invalidForm {
    border: 0.28vw solid #ff0000 !important;
  }
}