/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,100&family=Roboto:wght@400;500&family=Teko:wght@300;400;500&display=swap');

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8vw;
}

.containerAndTitle {
  width: 49%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 1.15vw;
  color: #AFB9C0;
  margin: 0;
  margin-bottom: 0.9vw;
}

.passwordContainer1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #243745;
  padding-right: 0.9vw;
  border-radius: 0.625vw;
  border: 0.05vw solid #243745;
}

.passwordContainer1:hover{
  border-color: #728796;
}

.passwordContainer2 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #243745;
  padding-right: 0.9vw;
  border-radius: 0.625vw;
  border: 0.05vw solid #243745;
}

.passwordContainer2:hover{
  border-color: #728796;
}

.valid {
  border: 1px solid #66CF8A !important;
}

.invalid {
  border: 1px solid #CF6679 !important;
}

/*  */

.passwordInput {
  width: 77.5%;
  background-color: #243745;
  border: none;
  padding: 1.04vw 0.625vw;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 1.15vw;
  color: #FFFFFF;
}

.passwordInput:focus {
  outline: none;
}

/*  */
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9vw;
  height: 3.4vw;
  margin-left: 0.1vw;
  border-top-left-radius: 0.625vw;
  border-bottom-left-radius: 0.625vw;
  background-color: #263D4D;
}

.iconWrapper svg{
  width: 1.4vw;
  height: 1.4vw;
  border: none;
}

.visible {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9vw;
  height: 3.4vw;
  margin-left: 0.1vw;
  border-top-left-radius: 0.625vw;
  border-bottom-left-radius: 0.625vw;
  background-color: #263D4D;
  visibility: visible;
}

.visible svg{
  width: 1.4vw;
  height: 1.4vw;
  border: none;
}

/*  */

.eyeIcon {
  font-size: 1.15vw;
  color: #728796;
  cursor: pointer;
}

.Checkicon {
  width: 1.4vw;
  height: 1.4vw;
  color: #66CF8A;
}

.Triangleicon {
  color: #CF6679;
}

.lockIcon {
  color: #728796;
  font-size: 1.04vw;
}


/*  */
.tooltip {
  position: absolute;
  top: 110%;
  left: 33%;
  transform: translateX(-50%);
  background-color: #2F495C;
  padding: 0.36vw 1.67vw 0.36vw 0.625vw;
  border-radius: 0.625vw;
  border-top-left-radius: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9vw;
}

.tooltip li {
  margin-bottom: 0.52vw;
}

.tooltip ul {
  list-style: none;
}

.tooltip ul li::before {
  content: "\25A0"; 
  color: #FFC038; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}

.Triangle {
  position: absolute;
  z-index: -1;
  top: -7%;
  left: -8%;
  width: 0;
  height: 0;
  border-top: 2.5vw solid #2F495C;
  border-right: 2.2vw solid transparent;
  border-radius: 0.26vw;
  transform: rotate(137deg);
  margin-bottom: -2vw;
}

.livalid {
  color: rgba(235, 235, 235, 35%)
}

.liinvalid {
  color: #EBEBEB;
}

/*  */
.passwordStrength {
  display: flex;
  align-items: center;
  margin-bottom: 0.52vw;
}

.passwordStrength span {
  width: 0.625vw;
  height: 0.625vw;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.1vw;
}

.passwordRules {
  margin-bottom: 1.04vw;
}

.passwordRules ul {
  padding-left: 1.04vw;
}


@media (max-width: 480px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.2vw;
  }
  
  .containerAndTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 5.5vw;
    color: #AFB9C0;
    margin: 0;
    margin-bottom: 2.7vw;
  }
  
  .passwordContainer1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #243745;
    border-radius: 3.33vw;
    border: 0.27vw solid #243745;
    margin-bottom: 7.2vw;
  }
  
  .passwordContainer1:hover{
    border-color: #728796;
  }
  
  .passwordContainer2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #243745;
    border-radius: 3.33vw;
    border: 0.27vw solid #243745;
  }
  
  .passwordContainer2:hover{
    border-color: #728796;
  }
  
  .valid {
    border: 0.27vw solid #66CF8A !important;
  }
  
  .invalid {
    border: 0.27vw solid #CF6679 !important;
  }
  
  /*  */
  
  .passwordInput {
    width: 77.5%;
    background-color: #243745;
    border: none;
    padding: 3vw 4.4vw 3vw 3vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    color: #FFFFFF;
  }
  
  .passwordInput:focus {
    outline: none;
  }
  
  /*  */
  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.38vw;
    height: 11.67vw;
    border-top-left-radius: 3.3vw;
    border-bottom-left-radius: 3.3vw;
    background-color: #263D4D;
  }
  
  .iconWrapper svg{
    width: 6.7vw;
    height: 6.7vw;
    border: none;
  }
  
  .visible {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.38vw;
    height: 11.67vw;
    border-top-left-radius: 3.3vw;
    border-bottom-left-radius: 3.3vw;
    background-color: #263D4D;
    visibility: visible;
  }
  
  .visible svg{
    width: 6.7vw;
    height: 6.7vw;
    border: none;
  }
  
  /*  */
  
  .eyeIcon {
    font-size: 4.4vw;
    color: #728796;
    cursor: pointer;
  }
  
  .Checkicon {
    color: #66CF8A;
  }
  
  .Triangleicon {
    color: #CF6679;
  }
  
  .lockIcon {
    color: #728796;
    font-size: 6.6vw;
  }
  
  
  /*  */
  .tooltip {
    width: 70%;
    position: absolute;
    top: 150%;
    left: 45%;
    transform: translateX(-50%);
    background-color: #2F495C;
    padding: 3.1vw 4.28vw 2vw 0;
    border-radius: 3.3vw;
    border-top-left-radius: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 4.4vw;
  }
  
  .tooltip li {
    margin-bottom: 3.3vw;
  }
  
  .tooltip ul {
    list-style: none;
  }
  
  .tooltip ul li::before {
    content: "\25A0"; 
    color: #FFC038; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
  
  .Triangle {
    position: absolute;
    z-index: -1;
    top: -7%;
    left: -8%;
    width: 0;
    height: 0;
    border-top: 13.3vw solid #2F495C;
    border-right: 11.6vw solid transparent;
    border-radius: 1.39vw;
    transform: rotate(137deg);
    margin-bottom: -11.1vw;
  }
  
  .livalid {
    color: rgba(235, 235, 235, 35%)
  }
  
  .liinvalid {
    color: #EBEBEB;
  } 
}