/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,100&family=Roboto:wght@400;500&family=Teko:wght@300;400;500&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
}

.items {
  display: flex;
  margin-right: 18.3vw;
}

.item {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  margin-top: 3.4vw;
  color: #EBEBEB;
  font-size: 1.14vw;
  text-decoration: none;
}

.nav .item:not(:last-child) {
  margin-right: 3.33vw;
}

.item:hover {
  color: #FFB81E;
}

.active {
 color: #EBEBEB;
 text-decoration: none;
}

/*  */
.login {
  display: flex;
  align-items: end;
  margin-top: 3.33vw;
}

.login span {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #EBEBEB;
  font-size: 1.14vw;
}

.login span:hover {
  color: #FFB81E;
}

.login img {
  height: 1.25vw;
  width: 1.25vw;
  margin-left: 0.31vw;
}



/*  */

.dropdown {
  position: absolute;
  border: none;
  margin-top: 0.52vw;
  z-index: 1;
}

.dropdownItem {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  display: block;
  color: #EBEBEB;
  text-decoration: none;
  margin-bottom: 0.52vw;
}


.dropdownItem:hover {
  color: #FFB81E;
}

.dropdownItem:last-child {
  margin-bottom: 0;
}

.dropdownTrigger {
  display: flex;
  cursor: pointer;
}

.arrow {
  display: flex;
  align-items: center;
}

.arrow svg{
  width: 1.04vw;
  height: 1.04vw;
}

.rotate {
  transform: rotate(180deg);
}

.openMenu {
  display: block;
}